#trending {
    margin-top: 2rem;

    .movies-items {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        margin: 1.5rem 0;

        .item {
            border-radius: 10px;
            border: 3px solid rgba(silver, 0.1);
            box-shadow: 0 26px 30px -10px rgba(black, 0.7), 0 25px 20px -10px rgba(black, 0.7);
            cursor: pointer;
            transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

            img {
                width: 100%;
                object-fit: cover;
            }

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 30px 40px -10px rgba(black, 0.7), 0 30px 30px -10px rgba(black, 0.7);
                border-color: silver;
            }
        }
    }
}
