#login {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // text-align: center;
    height: 100%;
    // overflow: hidden;
  }

  .price-sm,
  .subsription-sm {
    display: none;
  }

  .main-content {
    // margin-bottom: 10vw;
    width: 100%;
    position: relative;
    // min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 3rem;
    height: calc(100vh - 70px);

    .img-background {
      background-image: url("../../../public/images/disney_background.jpeg");
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
    }

    .content {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 60%;
      padding: 5rem 4rem;

      .logo {
        width: 180px;
      }

      h1 {
        font-size: 2.6rem;
        margin-top: 1rem;
        font-weight: 500;
      }

      .price {
        margin-top: 2rem;
        display: flex;
        align-items: start;

        .main-text {
          font-size: 1.8rem;
        }

        .sub-text {
          font-size: 1rem;
          color: rgb(230, 230, 230);
          margin-left: 0.5rem;
        }

        .month {
          width: 50%;
          display: flex;
          align-items: center;
        }

        .year {
          width: 50%;
          display: flex;
          flex-direction: column;

          div {
            display: flex;
            align-items: center;
          }
        }
      }

      .subscription {
        margin-top: 1.5rem;
        display: flex;
        // align-items: center;
        width: 110%;
        .button {
          color: white;
          text-align: center;
          background-color: #0063e5;
          margin-bottom: 1rem;
          width: 45%;
          letter-spacing: 1.5px;
          font-size: 1rem;
          vertical-align: center;
          padding: 20px;
          border-radius: 5px;
          box-shadow: 1px 1px rgba(black, 0.1);
          transition: all 0.2s ease-in-out;
          &:hover {
            background-color: #016cf9;
          }

          &:nth-child(1) {
            margin-right: 5%;
          }
        }
      }

      .terms {
        color: rgb(230, 230, 230);
        font-size: 0.8rem;
      }
    }
  }

  @media (max-width: 1000px) {
    .main-content {
      .content {
        max-width: 100%;
      }
    }
  }

  @media (max-width: 780px) {
    .price-sm,
    .subsription-sm {
      display: block;
    }

    .price,
    .subscription {
      display: none !important;
    }

    .main-content {
      // padding: 5rem 10rem;
      background-image: url("../../../public/images/disney_background-sm.jpeg");
      display: flex;
      justify-content: center;
      width: 100%;

      .content {
        text-align: center;
        top: 220px;
        padding: 5rem 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .logo {
          width: 150px;
        }

        h1 {
          font-size: 1.5rem;
          margin-top: 1rem;
          font-weight: 500;
        }

        .price-sm {
          display: block;
          width: 100%;
          margin: 1.5rem auto;

          .main-text {
            font-size: 1.6rem;
          }

          .sub-text {
            font-size: 1rem;
            color: rgb(230, 230, 230);
            margin-left: 0.5rem;
          }

          .subscription-sm {
            margin: 1.5rem 0;
            width: 100%;

            .button {
              color: white;
              text-align: center;
              background-color: #0063e5;
              letter-spacing: 1.5px;
              font-size: 1rem;
              padding: 20px;
              border-radius: 5px;
              box-shadow: 1px 1px rgba(black, 0.1);
              transition: all 0.2s ease-in-out;
              &:hover {
                background-color: #016cf9;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 650px) {
    .main-content {
      .content {
        // max-width: 100% !important;
        padding: 2rem 3rem;
        width: 100%;
      }
    }
  }
}
